<div id="login-box">

    <div class="left">
        <form  [formGroup]="userForm" #loginForm="ngForm"(ngSubmit)="login(userForm.value)">
            <div class="form-group">
            <input formControlName="email" type="text"   name="email" placeholder="Enter E-mail" />
            <span *ngIf="email.invalid && email.touched" class="error">email is required</span>
            </div>
            <div class="form-groupp">
            <input formControlName="password" type="password" ngModel id="password" name="password" placeholder="Enter Password" />
            <span class="error" *ngIf="password.invalid &&password.touched">password is required</span>
            </div>
            <input type="submit" id="saveData" name="signup_submit" value="login" />
        </form>
        <div class="text-centerr sign-up">
          Don`t have an account ? <a routerLink="/register"><span>Register</span></a> here.
        </div>
    </div>
    <div class="right">
        <span class="loginwith">Sign in with<br />social network</span>
        <button (click)="googleLogin()" class="social-signin google" id='login'>Log in with Google</button>
        <button class="social-signin facebook">Log in with Facebook</button>
        <button class="social-signin twitter">Log in with Twitter</button>
    </div> 
    <div class="or">OR</div>
  </div>