<div id="login-box">

    <div class="left">
        <form [formGroup]="userForm" #loginFOrm="ngForm"(ngSubmit)="login(userForm.value)">
            <input formControlName="email" type="text" [(ngModel)]="email" id="email" name="email" placeholder="enter e-mail" />
            <input formControlName="password" type="password" ngModel id="password" name="password" placeholder="enter Password" />
  
            <input type="submit" id="saveData" name="signup_submit" value="login" />
        </form>
        <div class="text-centerr sign-up">
          Don`t have an account ? <a routerLink="/register"><span>Register</span></a> here.
        </div>
    </div>
    <div class="right">
        <span class="loginwith">Sign in with<br />social network</span>
        <button class="social-signin facebook">Log in with facebook</button>
        <button class="social-signin twitter">Log in with Twitter</button>
        <button class="social-signin google" id='login'>Log in with Google+</button>
    </div> 
    <div class="or">OR</div>
  </div>