mat-form-field {
    width:90%;
}
.example-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  .example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .example-radio-button {
    margin: 5px;
  }